@import url("reset.css");

body {
	background-color: #1B1B1B;
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 14px;
	color: black;
}

h1 { display: none; }

a { color: black; text-decoration: none;}

.image {
	display: block;
	margin: 2px;
}

nav {
	background-color: #EAEAEA;
}

nav ul {
	display: flex;
	flex-wrap: flex;
	flex-flow: row-wrap;
	-wbkit-flex-flow: row-wrap;
	-webkit-flex-wrap: flex;
}

nav .folder {
	flex-grow: 1;
	-webkit-flex-grow: 1;
}

nav .folder a {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #BEBEBE;
	border-right: 1px solid #BEBEBE;
}

nav .folder.up {
	background-color: #232323;
	flex-grow: 0;
	-webkit-flex-grow: 0;
}

nav .folder.up a {
	color: white;
	border-bottom: 1px solid #232323;
	border-right: 1px solid #232323;
}

header .image-count {
	padding: 10px;
	font-size: 22px;
	color: #C2C2C2;
}

article {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}